.container{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #0AA4F6;
    width: 320px;
    height: 320px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10%;
    transition: .3s ease;
}
.container textarea{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    resize: none;
    width: 100%;
    height: 100%;
    font-family: inherit;
    border: none;
    background-color: transparent;
}
.container textarea:focus{
    outline: none;
}
.container textarea::-webkit-scrollbar {
    width: 3px;
}

.container textarea::-webkit-scrollbar-track {
    background: transparent;

}

.container textarea::-webkit-scrollbar-thumb {
    background: #BEC5D7;
    border-radius: 40px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}
.pen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    font-weight: 300;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
}
.pen i{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}