.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  height: 100%;
  margin-left: 9%;
  padding: 0px;
  animation: fadeIn 3s 1 both ease;
}
@keyframes fadeIn {
  from{
      opacity: 0;
  }to{
      opacity: 1;
  }
}
