.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 3s 1 both ease;
}
.header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-inline: 50px;
}
.header h2{
    position: relative;
}
.header h2 img{
    position: absolute;
    top: -19px;
    right:-80px;
    width: 90px;
}
.signupBtn,.btn2{
   padding: 10px;
   color: black;
   border-radius: 20px;
   transition: .3s ease;
   border: none;
   cursor: pointer;
   background-color: white;
   border: 1px solid black;
   width: 100px;
   font-size: 17px;
   font-weight: 600;
   text-align: center;
}
.signupBtn:hover{
    background-color: black;
    color:white;
}
.btnContainer{
    display: flex;
    gap: 20px;
}
.loginBtn{
    border: none;
    background-color: white;
    color :black;
    padding: 10px;
    border-radius: 20px;
    transition: .3s ease;
    cursor: pointer;
    border: 1px solid white;
    width: 100px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.loginBtn:hover{
    border: 1px solid black;
}
.hero{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
  justify-content: space-between;
}
.leftSection,.rightSection{
    width: 45%;
    height: 100%;
}
.leftSection{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
    position: relative;
    padding-top: 70px;
}
.heading{
    font-size: 5rem;
    font-weight: 600;
}
.subHeading{
    font-size: 17px;
    font-weight: 600;
}
.btn2{
    color: white;
    background-color: black;
    transition: .3s ease;
    width: 150px;
}
.btn2:hover{
    background-color: white;
    color: black;
}
.i1,.i2,.i3{
    position: absolute;
    font-size: 50px;
    top: 0;
}
.i1{
    color: #ff526f;
    right: 40%;
    top: -5%;
}
.i2{
    color: #0AA4F6;
    right:40%;
    top: 50%;
}
.i3{
    color: #2ddc3b;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.rightSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.greet{
    width: 400px;
}